html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  text-align: center;
  font-size: 16px;
  background-color: var(--primary-bg-color);
  --primary-bg-color: rgb(248, 240, 241);
  /* --secondary-bg-color: rgb(224, 105, 125); */
  --tertiary-bg-color: #fff; 
  --font-main: #d39b9b;
  --btn-color: rgb(170, 43, 64);
}

@media (max-width: 1024px) {
  :root{
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 12px;
  }
}