.budgetsContainer{
    margin: 0 2rem;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
}

.mainTitle{
    color: var(--font-main);
}

.budgetList{
    list-style: none;
    width: 96%;
    height: 96%;
}

.budgetItem{
    background-color: var(--tertiary-bg-color);
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    margin-bottom: 1.2rem;
    width: 96%;
}

.budgetItem:last-child{
    margin-bottom: 1rem;
}

.budgetName{
    color: var(--btn-color);
    align-self: center;
    margin: 0;
}

.budgetType{
    color: var(--font-main);
}

.amountContainer, .dateContainer{
    width: 96%;
    display: flex;
    justify-content: space-between;
}

.amount:last-child{
    align-self: flex-end;
}

.date:last-child{
    align-self: flex-end;
}

.budgetFilter{
    background-color: var(--tertiary-bg-color) ;
    border-radius: 5rem;
    width: 92%;
    height: 3rem;
    margin: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
}

.filterIcon{
    margin-left: 1.2rem;
    color: var(--btn-color);
    align-self: center;
}

.filterLabel{
    margin-left: 2rem;
}