.budgetsContainer {
    margin: 0 1rem 0 1rem;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
}

.headerContainer .buttonSubmit {
    margin: 1.6rem 0;
}

.mainTitle {
    color: var(--font-main);
    font-size: 2.4rem;
}

.stateTitle{
    text-align: center;
    font-size: 1.4rem;
    color: var(--font-main);
    margin-left: 2.4rem;
}

.budgetList {
    list-style: none;
    width: 96%;
    height: 96%;
    margin: 0;
}

.budgetItem {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.2rem 2rem;
    margin-bottom: 1.2rem;
    width: 96%;
    background-color: var(--primary-bg-color);
    border-radius: 5rem;
    border: 0.2rem solid var(--btn-color);
}

.budgetItem:last-child {
    margin-bottom: 1rem;
}

.expired {
    background-color: var(--primary-bg-color);
    border: 0.2rem dotted var(--font-main);
}
  
.budgetName {
    color: var(--btn-color);
    font-size: 1.4rem;
    align-self: center;
    margin: 0 0 1rem;
}

.budgetInfo {
    width: 96%;
    display: flex;
    justify-content: space-between;
}

.budgetInfo:last-child {
    align-self: flex-end;
}

.budgetType,
.categoryName {
    color: var(--font-main);
    font-size: 1rem;
}

.amountContainer,
.dateContainer {
    width: 96%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.amount {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.amount:last-child {
    align-self: center flex-end;
}

.budgetDate {
    color: rgb(134, 134, 134);
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.date:last-child {
    align-self: center flex-end;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
    margin: 0.6rem 0;
    width: 96.4%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.64rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    min-width: 2rem;
    max-width: 24rem;
    height: 2rem;
    padding: 0 0.8rem;
    cursor: pointer;
}

.editBtn {
    color: var(--btn-color);
    background-color: var(--primary-bg-color);
    border: 0.2rem solid var(--btn-color);
}

.editBtn:hover {
    color: var(--primary-bg-color);
    background-color: var(--btn-color);
    border-color: var(--secondary-bg-color);
}

.deleteBtn {
    background-color: rgb(248, 54, 54);
    color: var(--primary-bg-color);
}

.deleteBtn .text {
    display: none;
}

.deleteBtn:hover .text {
    display: block;
}

.expenseBtn {
    color: var(--primary-bg-color);
    background-color: var(--btn-color);
}

.expenseBtn:hover {
    color: var(--btn-color);
    background-color: var(--primary-bg-color);
    border: 0.2rem solid var(--secondary-bg-color);
}

.btnIcon {
    font-size: 1.4rem;
}

.progressBarContainer {
    align-self: center;
    display: flex;
    width: 100%;
    margin: 0.6rem 0;
}

.progressBar {
    align-self: end;
    width: 88%;
    height: 1rem;
    background-color: #e0e0e0;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 0.2rem;
}

.progressBarFill {
    height: 100%;
    background-color: #bf2369;
    transition: width 0.3s ease;
}

.txt {
    width: 10%;
    color: rgb(134, 134, 134);
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    align-self: center;
}

.budgetFilter {
    background-color: var(--btn-color);
    color: var(--primary-bg-color);
    border-radius: 5rem;
    margin: 2rem 3rem;
    width: 95%;
}

.budgetFilterContainer {
    display: flex;
    gap: 1rem;
}

.filters {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
    align-items: center;
    width: 96%;
    height: auto;
    min-height: 3rem;
    padding: 0.5rem;
}

.filterIcon {
    font-size: 1.6rem;
    margin-left: 1.2rem;
    color: var(--primary-bg-color);
    align-self: center;
}

.filterLabel input[type="checkbox"] {
    width: 1em;
    height: 1rem;
    accent-color: var(--secondary-bg-color);
}  

.filterLabel {
    font-size: 1rem;
    font-weight: bold;
}

.filterLabel input,
.filterLabel select {
    color: var(--btn-color);
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 2rem;
    min-width: 4rem;
    max-width: 7.2rem;
    height: auto;
}

.budgetFilterLabel {
    margin: 0 0 0.2rem 0.4rem;
}

@media (max-width: 1024px) {

    .headerContainer .buttonSubmit {
        border-radius: 2rem;
        width: 12rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    .mainTitle {
        font-size: 2rem;
    }

    .budgetList {
        width: 92%;
        height: auto;
    }

    .budgetItem {
        width: 94%;
        padding: 1rem;
    }

    .buttonsContainer {
        gap: 0.8rem;
    }

    .budgetFilterContainer {
        gap: 0.5rem;
        padding: 0.2rem;
    }

    .progressBar {
        width: 85%;
    }

    .txt {
        width: 15%;
    }
}

@media screen and (max-width: 768px) {
    .headerContainer {
        margin-left: 4rem;
    }

    .headerContainer .buttonSubmit {
        border-radius: 2rem;
        width: 12rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    .budgetList {
        width: 88%;
        height: auto;
        padding-left: 2rem;
    }

    .budgetItem {
        width: 104%;
        padding: 1rem 1.5rem;
    }

    .buttonsContainer {
        gap: 0.5rem;
        margin: 0.6rem 0;
        width: 96.4%;
    }

    .btn {
        gap: 0.4rem;
        font-size: 0.8rem;
    }

    .btnIcon {
        font-size: 1.2rem;
    }

    .budgetFilterContainer {
        gap: 0.5rem;
    }

    .filterLabel input,
    .filterLabel select {
        min-width: 6rem;
    }

    .progressBar {
        width: 78%;
    }

    .txt {
        width: 22%;
    }
}

@media screen and (max-width: 480px) {
    .mainTitle {
        font-size: 1.8rem;
    }

    .budgetItem {
        padding: 1rem;
        width: 100%;
    }

    .budgetName {
        font-size: 1.24rem;
        margin-bottom: 0.6rem;
    }

    .budgetInfo,
    .amountContainer,
    .dateContainer {
        width: 98%;
    }

    .buttonsContainer {
        gap: 0.5rem;
    }

    .filterLabel input,
    .filterLabel select {
        min-width: 5rem;
    }

    .budgetFilter {
        margin: 1.8rem 2.4rem;
    }

    .progressBar {
        width: 72%;
    }

    .txt {
        width: 28%;
    }
}

@media (max-width: 390px) {
    .budgetItem {
        padding: 0.8rem;
    }

    .btn {
        font-size: 0.9rem;
    }

    .filterLabel input,
    .filterLabel select {
        min-width: 4rem;
        font-size: 0.9rem;
    }

    .progressBar {
        width: 70%;
    }

    .txt {
        width: 30%;
    }
}