.customModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    width: 50rem;
    max-width: 30rem;
    box-shadow: 0 2rem 8rem var(--tertiary-bg-color);
    background: var(--primary-bg-color);
    border: 0.4rem solid var(--btn-color);
    border-radius: 1rem;
    padding: 1.4rem;
}

.modalHeader{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 1rem;
}

.customModal .mainTitleModal{
    color: var(--btn-color);
    padding: 0;
    margin:  0 0 1rem 0;
    border-bottom: 0.1rem solid var(--btn-color);
    width: 100%;
}

.modalContent{
    align-self: center;
    padding: 0 0.7rem 0;
    margin-bottom: 1.8rem;
    width: 100%;
}

.fieldModal{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 1rem;
}

.fieldModal .fieldLabel{
    margin: 0;
}

.editInput{
    width: 15rem;
    height: 2.3rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--secondary-bg-color);
    padding: 0.2rem 1rem;
    font-size: 1rem;
    color: var(--btn-color);
}

select.editInput{
    width: 17.125rem;
    height: 2.824rem;
}

select.editInput>option:hover::before{
    background-color: var(--secondary-bg-color);
}

.editInput:focus{
    outline-color: var(--btn-color);
    outline-style: dotted;
    outline-width: 0.12rem;
}

.saveButton, .cancelButton{
    cursor: pointer;
}

.saveButton{
    width: 10rem;
    height: 2.4rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5rem;
    background-color: var(--btn-color);
    color: var(--primary-bg-color);
    border: none;
}

.cancelButton{
    background-color: var(--primary-bg-color);
    color: var(--btn-color);
    border: none;
    font-size: 2.4rem;
    padding: 0;
    margin:  0 0 1rem 0;
    border-bottom: 0.1rem solid var(--btn-color);
}