.profileContainer{
    margin-left: 4.8rem;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 2rem;
    margin-top: 0;
}

.leftColumn, .rightColumn {
    display: flex;
    flex-direction: column;
}

.mainTitleProfile{  
    width: 98%;
    color: var(--btn-color);
    font-size: 2rem;
    text-align: start;
    border-bottom: 0.1rem solid var(--tertiary-bg-color);
    padding-bottom: 2.4rem;
    margin-bottom: 0;
}

.secondaryTitle{
    color: var(--font-main);
    margin: 2rem 0;
    font-size: 1.6rem;
    align-self: flex-start;
}

.personalInfo, .categoryInfo {
    display: flex;
    gap: 1.5rem;
}

.picContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 1rem; 
}

.profilePic {
    width: 6rem; 
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 0.64rem;
}

.editButton{
    background-color: var(--btn-color);
    color: var(--primary-bg-color);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    width: 7.2rem;
    height: 2rem;
}

.fieldsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.field {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-items: start;
}

.fieldLabel {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 1rem;
    color: var(--btn-color);
}

.info {
    font-size: 1.2rem;
    margin: 0 1rem;
    color: var(--btn-color);
}

.categoryCarousel {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.carouselButton {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.categoryItems {
    display: flex;
    gap: 2rem;
    transition: transform 0.3s ease;
}

.categoryItem {
    padding: 0.8rem 1.5rem;
    background-color: var(--tertiary-bg-color);
    color: var(--font-main);
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.profileModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    width: 100%;
    max-width: 26rem;
    box-shadow: 0 2rem 8rem var(--tertiary-bg-color);
    background: var(--primary-bg-color);
    border: 0.4rem solid var(--btn-color);
    border-radius: 1rem;
    padding: 1.4rem;
}

.editProfileHeader{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.profileModal .mainTitleProfile{
    padding: 0 0 1rem 0;
    margin:  0 0 1rem 0;
    border-bottom: 0.1rem solid var(--btn-color);
}

.modalContent{
    padding: 0 1.4rem 0;
}

.fieldModal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
}

.fieldModal .fieldLabel{
    margin: 0;
    
}

.editInput{
    width: 12.8rem;
    height: 1.4rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--secondary-bg-color);
    padding: 0.2rem 1rem;
    font-size: 1rem;
    color: var(--btn-color);
}

.saveButton, .cancelButton{
    cursor: pointer;
}

.saveButton{
    width: 10rem;
    height: 2.4rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5rem;
    background-color: var(--btn-color);
    color: var(--primary-bg-color);
    border: none;
}

.cancelButton{
    background-color: var(--primary-bg-color);
    color: var(--btn-color);
    border: none;
    font-size: 2.4rem;
    padding: 0 0 1rem 0;
    margin:  0 0 1rem 0;
    border-bottom: 0.1rem solid var(--btn-color);
}